doctype html
html
  head
    title Roots CMS
    link(rel='stylesheet', href='/css/master.css')
    link(rel='stylesheet', href='/css/custom.css')
    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')
    script(data-main='/js/main', src='/js/vendor/require.js')
  body
    include _header
      
    #all
      block content
    footer
