#content-edit
  .data
    padding: 0

    strong
      column(1/6)

    input
      width: 75%
      padding: 5px 10px

    li
      padding: 10px

  button
    margin-right: 10px

    &.commit
      display: block
      margin: 20px auto

  .modal
    height: 170px

    input
      size: 350px 35px

  .upload-area
    display: none

  img
    width: 100%
