#content-edit
  form
    padding: pad 0
    margin-bottom: pad

    .data
      li
        padding: (pad/2) 0
        margin: (pad/2) 0

        .key
          opacity: 0.3
          upcase()

  #contents
    h4
      border-bottom: 2px solid silver
      
    .contents
      padding-top: pad


.modal
  height: 170px

  input
    size: 350px 35px

.upload-area
  display: none
