headers()

body
  font-family: source-sans
  padding: 0
  margin: 0

h1, h2, h3, h4
  margin: 0

a
  text-decoration: none
  color: blue
  hover-darken()

ul
  reset-list()

.wrap
  center(max-width)

.upload-area
  inline-block()
  size: 105
  border-radius: 10px
  padding: 10px
  bg: '../img/upload.png'
  background-position: center
  border: 1px solid #618689
  overflow: hidden
