headers()

body
  font-family: source-sans
  padding: 0
  margin: 0

h1, h2, h3, h4
  margin: 0

a
  text-decoration: none
  color: header-color
  hover-darken()

ul
  reset-list()

.wrap
  center(max-width)

button
  simple-button(header-color)
  border: 0px

input[type="text"]
  padding: 10px
  border: 1px solid silver
  width: 100%
  border-radius: 3px
  font-size: 14px

.upload-area
  inline-block()
  size: 105
  border-radius: 10px
  padding: 10px
  bg: '../img/upload.png'
  background-position: center
  border: 1px solid #618689
  overflow: hidden
