#trunk
  .wrap
    a(href="/category/" + category())= id

#content-edit
  .wrap
    form
      h4 Attributes
      ul.data
        - each val, key in data
          li
            .key= key + ":"
            .value: input(type='text', value=val, name=key)

      button.save Save
      button.open-commit-modal Commit


    #contents
      h4 Content
      .contents!= content_to_html()

    .modal
      .close X
      input.message(type='text', placeholder="Enter a commit message")
      button.commit Commit
